Sehr geehrte Damen und Herren!
<br/><br/>
Diese Rechnung enthält gem. §§ 34 ff. BAO keine Umsatzsteuer
<br/><br/>
Wir bitten Sie um Einzahlung bis {{ invoice_deadline }}. 
Wenn Sie für die Einzahlung Telebanking verwenden, geben Sie bitte "{{ invoice_reference }}" als Verwendungszweck bzw. Zahlungsreferenz an.
<br/><br/>
Wir bedanken uns für Ihren Auftrag!
<br/><br/><br/>
{{ ovg_treasurer }}.
