{% extends "mitglieder/index.html" %}


{% block sbcontent %}
<div id="map" style="width: 100%, height: 400px"></div>

{% endblock sbcontent %}

{% block scriptFoot %}
  <style>
   #map {
     height: 400px;
     width: 100%;
   }
  </style>
  <script src="https://openlayers.org/en/v4.6.4/build/ol.js"></script>

  <script>
  view=new ol.View({
    center: [0, 0],
    zoom: 2
  });

  new ol.Map({
    layers: [
      new ol.layer.Tile({source: new ol.source.OSM()})
    ],
    target: 'map',
    view: view,
  });

  var geolocation = new ol.Geolocation({
    // take the projection to use from the map's view
    projection: view.getProjection()
  });
  // listen to changes in position
  geolocation.on('change', function(evt) {
    window.console.log(geolocation.getPosition());
  });

  geolocation.setTracking(true);



  var accuracyFeature = new ol.Feature();
      geolocation.on('change:accuracyGeometry', function() {
        accuracyFeature.setGeometry(geolocation.getAccuracyGeometry());
      });

      var positionFeature = new ol.Feature();
      positionFeature.setStyle(new ol.style.Style({
        image: new ol.style.Circle({
          radius: 6,
          fill: new ol.style.Fill({
            color: '#3399CC'
          }),
          stroke: new ol.style.Stroke({
            color: '#fff',
            width: 2
          })
        })
      }));

      geolocation.on('change:position', function() {
        var coordinates = geolocation.getPosition();
        positionFeature.setGeometry(coordinates ?
          new ol.geom.Point(coordinates) : null);
      });

      new ol.layer.Vector({
        map: map,
        source: new ol.source.Vector({
          features: [accuracyFeature, positionFeature]
        })
      });

      //map.addLayer(position_layer);

  </script>


{% endblock  %}
