{% extends "mitglieder/index.html" %}
{% block sbcontent %}

<div class="row">
  <button type="button" class="btn btn-primary editdata" data-object="Kosten" data-id="0"> Kosten hinzufügen </button><br><br>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Kostenart</th>
                <th>Bezeichnung</th>
                <th>Anzahl</th>
            </tr>
        </thead>
        <tbody>
          {% for m in kosten %}
            <tr>
              <td>
                <a class="editdata" data-object="Kosten" data-id="{{ m.id }}" href="#">{{ m.art }}</a></td>
                <td>{{ m.bezeichnung }}</td>
                <td><a class="filter" href="{% url 'ovgmitglieder:mitglied_filter' obj='Kosten' pk=m.id %}"><i class="fa fa-user"></i> {{ m.vereinsmitglied_set.count }} Mitglieder</a></td>
            </tr>
          {% endfor %}

        </tbody>
    </table>
</div>



</div>

{% endblock sbcontent %}
