{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Bootstrap Admin Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}"  rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static "vendor/metisMenu/metisMenu.min.css"  %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "dist/css/sb-admin-2.css" %}"  rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "vendor/font-awesome/css/font-awesome.min.css" %}"  rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div class="container">
        <div class="row">
          <h1> hey, you're not logged in! do it now...</h1>

          <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <form role="form" method="post" action="/login/?next={{ url }}">

                  {% csrf_token %}

                <div class="form-group has-feedback has-feedback-left">
                    <label class="control-label sr-only">Username</label>
                    <input type="text" name="username" placeholder="Username" class="form-control input-lg">
                    <i class="form-control-feedback glyphicon glyphicon-user"></i>

                </div>
                <div class="form-group has-feedback has-feedback-left">
                  <label class="control-label sr-only">Password</label>
                  <input type="password" name="password" placeholder="Password" class="form-control input-lg">
                  <i class="form-control-feedback glyphicon glyphicon-lock"></i>
                </div>


                <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok"> Signin</button>

              </form>
            </div>

            <div class="col-sm-4"></div>

        </div>
      </div>
    </div>

    <!-- jQuery -->
    <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "vendor/bootstrap/js/bootstrap.min.js" %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static "vendor/metisMenu/metisMenu.min.js" %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static "dist/js/sb-admin-2.js" %}"></script>

</body>

</html>
