{% extends "mitglieder/index.html" %}
{% block sbcontent %}

<div class="row">

{{ neu }}

<p> Für alle aktiven Mitglieder die einen Mitgliedsbeitrag bezahlen, wird hier ein neuer Beitrag angelegt.
Die Rechnungen werden nicht automatisch ausgeschickt!!!</p>
{% if success %}
	<div class="alert alert-success">
	{{ success }}
	</div>
{% endif %}
{% if error %}
	<div class="alert alert-danger">
	{{ error }}
	</div>
{% endif %}
</div>

<div class="col-sm-3">
  <form name="save-form"  class="form-horizontal" id="save-form" action="{% url 'ovgmitglieder:mitgliedsbeitraege_neu' %}" method="POST">
   {% csrf_token %}

        <div class="form-group" >
            <label for="description" class="" >Description <span class="text-danger">*</span></label>
            <input type="text" class="form-control" name="description" placeholder="Beitrag 2018">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">anlegen</button>
        </div>
  </form>
</div>


</div>

{% endblock sbcontent %}
{% block scriptFoot %}

<script>
$(document).ready(function() {
  $("#offen").DataTable();
})
</script>
{% endblock scriptFoot %}
