{% extends "mitglieder/index.html" %}
{% load static %}
{% block sbcontent %}

<div class="row">
  <h2>{{ m.titel }} {{ m.first_name }} {{ m.last_name }} <br><small><a href="mailto:{{ m.email }}">{{ m.email }}</a></small></h2>
  <div class="col-sm-12">
  	<button type="button" class="btn btn-primary editdata" data-object="VereinsMitglied" data-id="{{ m.id }}"><i class="fa fa-edit"></i> bearbeiten</button>
  	<button type="button" data-title="Wollen Sie {{ m.first_name }} {{ m.last_name }} wirklich löschen?" data-url="{% url 'ovgmitglieder:remove' obj='mitglieder' pk=m.id %}" id="" class="btn btn-danger deslete" data-object="VereinsMitglied" data-id="{{ m.id }}"><i class="fa fa-trash"></i> löschen</button>
  	<a role="button" class="btn btn-info {% if op == 0 %}disabled{% endif %}" href="{% url 'ovgmitglieder:emails_ausschicken' pk=m.id %}"><i class="fa fa-envelope"></i> Beitragsmail schicken</a>
  	<button type="button" class="btn btn-info editdata" data-object="offenePosten" data-id="0"><i class="fa fa-plus"></i> Beitrag anlegen</button>
    <hr>
  </div>
</div>

<div class="row">
 <div class="col-md-2">
   <dl>
     <dt>Mitgliedsnummer</dt>
     <dd>{{ m.mitgliedsnummer }}</a></dd><br>

     <dt>Geburtsdatum</dt>
     <dd>{{ m.gebdat }}</a></dd><br>

     <dt>Mitglied seit</dt>
     <dd>{{ m.beidat }}</a></dd><br>

     <dt>Diplomarbeit</dt>
     <dd>{{ m.diplomdat }} in {{ m.diplomort }}</a></dd><br>

     <dt>Ausgetreten am</dt>
     <dd>{{ m.storndat }}</dd>



   </dl>
</div>
 <div class="col-md-6">
   <dl class="dl-horizontal">
    	<dt>Anrede</dt>
    	<dd>{{ m.anrede }}</dd>

      <dt>Titel</dt>
      <dd>{{ m.titel }}</dd>

    	<dt>Vorname</dt>
    	<dd>{{ m.first_name }}</dd>

    	<dt>Nachname</dt>
    	<dd>{{ m.last_name }}</dd>

    	<dt>Email</dt>
    	<dd>{{ m.email }}</dd>

    	<dt>Name 2</dt>
    	<dd>{{ m.surname2 }}</dd>

    	<dt>Name 3</dt>
    	<dd>{{ m.surname3 }}</dd>

    	<dt>pobox</dt>
    	<dd>{{ m.pobox }}</dd>

    	<dt>Straße</dt>
    	<dd>{{ m.strasse }}</dd>

    	<dt>PLZ, Ort</dt>
    	<dd>{{ m.plz }}, {{ m.ort }}</dd>

    	<dt>Land</dt>
    	<dd>{{ m.country.land }}</dd>

    	<dt>Telephon</dt>
    	<dd>{{ m.tel }}</dd>

    	<dt>beigz</dt>
    	<dd>{{ m.beigz }}</dd>

    	<dt>mitgliedsart</dt>
    	<dd>{{ m.mitgliedsart.mitart }}</dd>

    	<dt>kostenart</dt>
    	<dd>{{ m.kostenart.art }}</dd>

    	<dt>sub</dt>
    	<dd>{{ m.sub }}</dd>

    	<dt>vortagold</dt>
    	<dd>{{ m.vortagold }}</dd>

    	<dt>berufsgruppe</dt>
    	<dd>{{ m.berufsgruppe.bezeichnung }}</dd>

    	<dt>heftanzahl</dt>
    	<dd>{{ m.heftanzahl }}</dd>

    	<dt>anmerkung</dt>
    	<dd>{{ m.anmerkung }}</dd>

   </dl>


 </div>
 <div class="col-md-4">
       <h2> Mitgliedsbeiträge </h2>
       {% if m.offenerbetrag.offen__sum %}<h2 class="text-danger"><small>€ {{ m.offenerbetrag.offen__sum }} offen</small></h2>{% endif %}
       {% for o in m.offeneposten_set.all %}
        <a class="editdata" data-object="offenePosten" data-id="{{ o.id }}" href="/ovg/offenePosten/{{ o.id }}/">
          {% if o.bezahlt %}
              <p class=""><i class="fa fa-check" style="color:green"></i> {{ o.description }},  {{ o.bezahltam|date:"j.m.y" }}, €  {{ o.zahlung }}</p>
          {% else %}
              <p class="bg-danger"><i class="fa fa-remove" style="color:red"></i> <strong>{{ o.description }},  {{ o.bezahltam|date:"j.m.y" }}, €  {{ o.zahlung }}</strong></p>
          {% endif %}
        </a>
      {% endfor %}
 </div>
{% endblock sbcontent %}
