{% extends "mitglieder/index.html" %}
{% block sbcontent %}

<div class="row">
  <button type="button" class="btn btn-primary editdata" data-object="Mitgliedsart" data-id="0"> Mitgliedsart hinzufügen </button><br><br>


<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Mitgliedsart</th>
                <th>Bezeichnung</th>
                <th>Anmerkung</th>
                <th>Anzahl</th>
            </tr>
        </thead>
        <tbody>
          {% for m in mitgliedsart %}
            <tr>
                <td>
                  <a class="editdata" data-object="Mitgliedsart" data-id="{{ m.id }}" href="/ovg/Mitgliedsart/{{ m.id }}/">{{ m.mitart }}</a></td>
                <td>{{ m.bezeichnung }}</td>
                <td>{{ m.anmerkung }}</td>
                <td><a class="filter" href="{% url 'ovgmitglieder:mitglied_filter' obj='Mitgliedsart' pk=m.id %}"><i class="fa fa-user"></i> {{ m.vereinsmitglied_set.count }} Mitglieder</a></td>

            </tr>
          {% endfor %}

        </tbody>
    </table>
</div>



</div>

{% endblock sbcontent %}
