
 <!-- Navigation -->
 <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
     <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
             <span class="sr-only">Toggle navigation</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="{% url 'ovgmitglieder:index' %}">OVG Mitgliederverwaltung</a>
     </div>
     <!-- /.navbar-header -->

     <ul class="nav navbar-top-links navbar-right">
         <li class="dropdown">
             <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                 <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
             </a>
             <ul class="dropdown-menu dropdown-user">
                 <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                 </li>
                 <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                 </li>
                 <li class="divider"></li>
                 <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                 </li>
             </ul>
             <!-- /.dropdown-user -->
         </li>
         <!-- /.dropdown -->
     </ul>
     <!-- /.navbar-top-links -->

     <div class="navbar-default sidebar" role="navigation">
         <div class="sidebar-nav navbar-collapse">
             <ul class="nav" id="side-menu">
                 <li class="sidebar-search">
                     <div class="input-group custom-search-form">
                         <input type="text" class="form-control" placeholder="Search...">
                         <span class="input-group-btn">
                         <button class="btn btn-default" type="button">
                             <i class="fa fa-search"></i>
                         </button>
                     </span>
                     </div>
                     <!-- /input-group -->
                 </li>
                 <li>
                     <a href="{% url 'ovgmitglieder:index' %}" class="menu" id="menu_dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                 </li>
                 <li><a href="#" class="menu" id="menu_"><i class="fa fa-bars fa-fw"></i> unsere Schäfchen<span class="fa arrow"></span></a>
                   <ul class="nav nav-second-level">
                       <li>
                           <a href="{% url 'ovgmitglieder:mitglieder' %}" class="menu" id="menu_Mitglieder"><i class="fa fa-user fa-fw"></i> Mitglieder</a>
                       </li>
                       <li>
                           <a href="{% url 'ovgmitglieder:jubilare' %}" class="menu" id="menu_Jubilare"><i class="fa fa-birthday-cake fa-fw"></i> Jubilare</a>
                       </li>
                       <li><a href="{% url 'ovgmitglieder:land' %}" class="menu" id="menu_Land"><i class="fa fa-globe fa-fw"></i> Länder</a></li>
                       <li><a href="{% url 'ovgmitglieder:beruf' %}" class="menu" id="menu_Beruf"><i class="fa fa-wrench fa-fw"></i> Beruf</a></li>
                       <li><a href="{% url 'ovgmitglieder:mitgliedsart' %}" class="menu" id="menu_Mitgliedsart"><i class="fa fa-user fa-fw"></i> Mitgliedsart</a></li>
                       <li><a href="{% url 'ovgmitglieder:kosten' %}" class="menu" id="menu_Kosten"><i class="fa fa-dollar fa-fw"></i> Kosten</a></li>
                   </ul>
                 </li>

                 <li><a href="#" class="menu" id="menu_"><i class="fa fa-money fa-fw"></i> WOGO-Teil<span class="fa arrow"></span></a>
                   <ul class="nav nav-second-level">
                       <li>
                           <a href="{% url 'ovgmitglieder:mitgliedsbeitraege' %}" class="menu" id="menu_"><i class="fa fa-eur fa-fw"></i>Mitgliedsbeitraege</a>
                       </li>
                       <li>
                           <a href="{% url 'ovgmitglieder:index' %}" class="menu" id="menu_"><i class="fa fa-dollar fa-fw"></i> usw</a>
                       </li>
                   </ul>
                 </li>
             </ul>
         </div>
         <!-- /.sidebar-collapse -->
     </div>
     <!-- /.navbar-static-side -->
 </nav>
