{% extends "mitglieder/index.html" %}
{% load staticfiles %}


{% block sbcontent %}
<div class="row" style="margin-bottom:20px;">
	<p><strong> Outside EU: {{ outside_eu }}</strong></p>
	<a class="btn btn-primary" target="_blank" href="{% static 'pdfs/hauspost.pdf' %}" role="button">
		<i class="fa fa-download"></i> Download Adressen Outside EU
	</a>
</div>


<div class="row" style="margin-bottom:20px;">
	<p><strong> Inside EU: {{ inside_eu }}</strong></p>
	<a class="btn btn-primary" target="_blank" href="{% static 'pdfs/europa.pdf' %}" role="button">
		<i class="fa fa-download"></i> Download Adressen Inside EU
	</a>
</div>

<div class="row" style="margin-bottom:20px;">
	<p><strong> Inside Austria: {{ austria }}</strong></p>
	<a class="btn btn-primary" target="_blank" href="{% static 'pdfs/austria.pdf' %}" role="button">
		<i class="fa fa-download"></i> Download Adressen Inside Austria
	</a>
</div>

<div class="row" style="margin-bottom:20px;">
	<p><strong> BEVler: {{ bevler }}</strong></p>
	<a class="btn btn-primary" target="_blank" href="{% static 'pdfs/hauspost.pdf' %}" role="button">
		<i class="fa fa-download"></i> Download Adressen Hauspost
	</a>
</div>

{% endblock sbcontent %}
